html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .custom-text-nowrap {
        white-space: nowrap;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.mycard {
    background-color: #ffa834;
    height: 95%;
    min-height: 100px;
    min-width: 70px;
    width: 80%;
    font-family: wingding;
    font-size: 3.0rem;
}

@media(max-width: 400px) {
    .mycard {
        font-size: 1.2rem;
        min-height: 70px;
        min-width: 10vw;
    }
}

.mycard:hover {
    background-color: #f8de76f7;
}

.mycard::first-letter {
    opacity: 0;
}

.picked {
    background-color: #fefce0;
}

    .picked::first-letter {
        opacity: 1;
    }

    .picked:hover {
        background-color: #fefce0;
    }

.claimed {
    visibility: hidden;
}

td {
    padding-top: 20px;
    align-content: center;
    text-align: center;
}

@font-face {
    font-family: 'wingding';
    src: url('../fonts/wingding.ttf') format('truetype');
}

@media (min-width: 420px) {

    .conditional-border {
        border: 2px solid white;
    }
}

@media(min-width: 576px) {
    .sm-border {
        border: 1px solid white;
    }
}

@media(max-width: 576px) {
    .under-sm-border {
        border: 1px solid white;
    }
}

.stay-on-line {
    white-space: nowrap;
    display: inline;
}
